div#logo-container{
    background-color: #393E41;
}

footer{
    background-color: #950000;
    color: #CBCBCB;
}

body{
    background-color: #CBCBCB;
}

.navbar{
    background-color: #950000;
    color: #CBCBCB;
}